DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=// ganti ini
DB_PORT=// ganti ini

MAIL_HOST= //isi host yang ada di mailtrap
MAIL_USERNAME= //isi sesuai di mailtrap
MAIL_PASSWORD= //isi sesuai di mailtrap
MAIL_FROM="gmslibrary@gmail.com"
MAIL_FROM_NAME="GMS Library Admin"
